*{
    box-sizing: border-box;
}

/* element selector */
body{
    background-color: #265073;
    font-family: Cambria, Cochin, 
    Georgia, Times, 'Times New Roman', serif;
}
/* media query */
/* tablet : layout yang ditampilkan 2 kolom */
@media screen and (min-width:600px) {
    body{
        background-color: #9AD0C2;
    }
    .col-sm-6{
        width: 50%;
        float: left ;
    }
    .col-sm-12{
        width: 100%;
    }
    
}
@media screen and (min-width:992px) {
    body{
        background-color: #265073;
    }
    .colomn{
        width: 25%;
        float: left;
    }
    .col-sm-12{
        width: 50%;
        float: left ;
    }
}

.txt1{
    color: #9AD0C2;
}

.txt2{
    color:  #2D9596;
}

.bg-profile{
    background-color: #F1FADA;
}


.img-responsive{
    width: 100%;
    max-height: 500px;
}
.rounding{
    border-radius: 20%;
}
.padding1{
    padding: 10px;
}
.margin1{
    margin: 10px;
}
.round2{
    border-radius: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }